.todoItem-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.todoItem-text { 
    flex-grow: 1;
    white-space: pre;
    min-height: 18px;
}

.todoItem-input-container { 
    flex-grow: 1;
    display: flex;
}

 .todoItem-input { 
    flex-grow: 1;
} 
